---
layout: base
---

<div class="row">
  <h1 class="title">Scientists4Future  Dortmund</h1>

  <p> Seit mehreren Monaten demonstrieren Schüler*innen in Deutschland und Europa für mehr Klimaschutz, insbesondere den Einhalt des Pariser Klimaabkommens.

  <p> Über 26.800 Wissenschaftler*innen aus Deutschland, Österreich und der Schweiz haben die <a href="https://www.scientists4future.org/stellungnahme/">Scientists4Future Stellungnahme</a> unterzeichnet,
  die sich klar hinter die Position der Schüler*innen stellt.

  <p>Auch in Dortmund hat sich eine Lokalgruppe der Scientists4Future gegründet, um die Fridays4Future Bewegung lokal zu unterstützen.

  <p> Wer mitmachen möchte, hat aktuell die Möglichkeit unserer
  <i class="fab fa-telegram"></i><a href="https://t.me/joinchat/Al0IakOAcw0uzOxnBVyrRg">Telegram Gruppe</a>
  beizutreten.

  Ein Email-Verteiler ist in Planung.

  <h2>Nächster Streiktermin</h2>
  <p>📆 <span id="next-strike-date"></span>: <a href="https://fridaysforfuture.de/streiktermine/"><span id="next-strike-ld"></span></a></p>
</div>

<div class="row">
  <h2>Neuigkeiten</h2>
{% for post in site.posts limit:4 %}
  {% include post.html post=post %}
{% endfor %}
</div>

<div class="row mitstreiter">
  <h2>Mitstreiter</h2>

  <a class="img" href="https://scientists4future.org">
    <img src="/assets/img/logo_s4f.png" style="max-height: 75px;">
  </a>
  <a class="img" href="https://fridaysforfuture.de">
    <img src="/assets/img/logo_fff.png" style="max-height: 75px;">
  </a>
  <a class="img" href="https://parentsforfuture.de/">
    <img src="/assets/img/logo_p4f.png" style="max-height: 75px;">
  </a>
</div>
