<footer>
  <h2>Mitstreiter</h2>

  <a class="img" href="https://scientists4future.org">
    <img src="/assets/img/logo_s4f.png" style="max-height: 75px;">
  </a>
  <a class="img" href="https://fridaysforfuture.de">
    <img src="/assets/img/logo_fff.png" style="max-height: 75px;">
  </a>
  <a class="img" href="https://parentsforfuture.de/">
    <img src="/assets/img/logo_p4f.png" style="max-height: 75px;">
  </a>

  <p>
    <i class="fab fa-github"></i>
    <a href="https://github.com/s4f-dortmund/s4f-dortmund.github.io">Source</a> |
    <i class="fas fa-envelope-square"></i>
    <a href="mailto:info@scientists4future-dortmund.de">Kontakt</a>
  </p>
</footer>
